@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html {
  height: 100vh;
  max-width: 100vw;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040f23;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Ubuntu", sans-serif;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}
/* button */
::-webkit-scrollbar-button {
  background: #222;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
/* The track NOT covered by the handle. */
::-webkit-scrollbar-track-piece {
  background: #000;
}
/* Corner */
::-webkit-scrollbar-corner {
  background: #999;
}
/* Resizer */
::-webkit-resizer {
  background: #111;
}

.container {
  display: grid;
  /* grid-template-columns: 20rem 20rem 20rem 19rem; */
  /* grid-template-rows: 1fr 1fr; */
  background: transparent;
  grid-gap: 2rem;
  max-width: 70vw;
  /* max-height: 40rem; */
  margin: 1.5rem 5vw;
  max-width: 100vw;
}

.card {
  position: relative;
  border-radius: 1rem;
  box-shadow: 15px 15px 60px var(--lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.5rem;
  padding: 2.5rem;
  transition: 0.3s ease-in-out transform;
  /* background-color: ; */
  /* border: 2px solid white; */
}

.card:hover {
  color: white;
  transition: 0.4s ease;
}

.card:hover .outro > p,
h3 {
  display: block;
  color: whitesmoke;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.card-middle > h3 {
  font-size: 1.5rem;
}

.outro {
  color: var(--lg);
}

.profile {
  width: 2.5rem;
  position: absolute;

  /* left: 0; */
}

.about {
  /* position: absolute; */
  /* bott */
}

.profile > img {
  border-radius: 50%;
  width: 100%;
  border: 2px solid grey;
}

.daniel {
  background: url(./Components/assets/gridPhotos/1.jfif) no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
  grid-row: 1/2;
  color: black;
}

.jonathan {
  background: url(./Components/assets/gridPhotos/3.jfif) no-repeat;
  background-size: cover;
  background-position: center;
}

.kira {
  grid-row: 1/3;
  grid-column: 4/5;
  background: url(./Components/assets/gridPhotos/5.jfif) no-repeat;
  background-size: cover;
  background-position: center;
}

.jeanette {
  background: url(./Components/assets/gridPhotos/4.jfif);
  background-position: center;
}

.kira .middle,
.jeanette .middle {
  color: white;
}

.patrick {
  grid-row: 2/3;
  grid-column: 2/4;
  background: url(./Components/assets/gridPhotos/2.jpeg);
  background-size: cover;
  background-position: center;
}

.daniel,
.jonathan,
.patrick {
  color: var(--white);
}

.daniel .name,
.jonathan .name,
.patrick .name {
  color: #fff;
}

.daniel .verified,
.jonathan .verified,
.patrick .verified {
  color: rgba(255, 255, 255, 0.5);
}

.card:hover {
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1.05);
}

/*  Mobile  */

@media screen and (max-width: 900px) {
  body {
    width: auto;
    height: auto;
    display: block;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
